<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Outfits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="goToProfile()">
    <ion-icon name="body"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <ion-list>
    <app-outfit-item
      *ngFor="let outfit of outfits"
      [outfitItem]="outfit"
    ></app-outfit-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="addNewOutfit()" type="button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
