<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add a new outfit</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="goToHome()">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input placeholder="Write a Title" type="text" #title></ion-input>
          <ion-input placeholder="Write a Description" type="text" #desc></ion-input>
          <ion-input placeholder="http://imagewebsite.com" #imageURL></ion-input>
          <ion-button color="primary" (click)="saveNewOutfit(title, desc, imageURL)">
            Save
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
