<ion-header>
  <ion-toolbar color="new">
    <ion-title>Añadir outfit</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="goToHome()"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input placeholder="Título" type="text" #title></ion-input>
          <ion-input placeholder="Descripción" type="text" #desc></ion-input>
          <img src="{{cardImageBase64}}" #image />

          <input
            type="file"
            class="file-input"
            (change)="onFileSelected($event)"
            #fileUpload
          />
          <ion-button color="new" (click)="onUpload()" expand="block"
            >Predecir</ion-button
          >
          <ion-button
            color="success"
            expand="block"
            (click)="saveNewOutfit(title, desc)"
          >
            Guardar
          </ion-button>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="outOfRange; else viewP">
        <ion-card-content>
          <h3>No ha sido posible predecir esta imagen</h3>
        </ion-card-content>
      </ion-card>
      <ng-template #viewP>
        <ion-card *ngIf="predictionResP" color="{{predictionColor}}">
          <ion-card-content>
            <h2>Predicción: {{predictionResP}} %</h2>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>FCL 2022</ion-title>
  </ion-toolbar>
</ion-footer>
