<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/outfits"></ion-back-button>
    </ion-buttons>
    <ion-title>{{outfit.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card color="{{predictionColor}}">
    <ion-card-header>
      <ion-img [src]="outfit.imageURL"></ion-img>
      <ion-card-subtitle>{{outfit.percentage}}% de ponertelo</ion-card-subtitle>
      <ion-card-title>{{ outfit.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content> {{outfit.description}} </ion-card-content>
  </ion-card>
  <ion-fab
    [routerLink]="['/outfits/edit', outfit.id]"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button color="new" (click)="editOutfit()" type="button">
      <ion-icon name="brush"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>FCL 2022</ion-title>
  </ion-toolbar>
</ion-footer>
