<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/outfits"></ion-back-button>
    </ion-buttons>
    <ion-title>{{outfit.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="deleteOutfit()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-img [src]="outfit.imageURL"></ion-img>
  <ion-card-header>
    <ion-card-subtitle>{{ outfitItem.title }}</ion-card-subtitle>
    <ion-card-title>x% de ponertelo</ion-card-title>
  </ion-card-header>
  <ion-card-content> Descripcion x </ion-card-content>
</ion-card>
