<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/outfits"></ion-back-button>
    </ion-buttons>
    <ion-title>{{outfit.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="deleteOutfit()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-card> -->
  <ion-img [src]="outfit.imageURL"></ion-img>
  <!-- <ion-card-header> -->
    <h1>{{ outfit.title }}</h1>
    <h2>x% de ponertelo</h2>
  <!-- </ion-card-header> -->
  <h3> Descripcion x </h3>
<!-- </ion-card> -->
