<ion-header>
  <ion-toolbar color="new">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profiles"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar perfil</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="deleteProfile()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="{{cardImageBase64}}" #image />
      <input
        type="file"
        class="file-input"
        (change)="onFileSelected($event)"
        #fileUpload
      />

      <ion-input
        placeholder="Nuevo nombre de usuario"
        type="text"
        #user
      ></ion-input>
      <ion-input placeholder="Nuevo nombre" type="text" #name></ion-input>
      <ion-input
        placeholder="Nuevo correo electrónico"
        type="text"
        #mail
      ></ion-input>

      <ion-button
        color="success"
        expand="block"
        (click)="saveEditProfile(user, name, mail)"
      >
        Guardar
      </ion-button>
      <ion-button color="new" expand="block" (click)="cancelEdit()">
        Cancelar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>FCL 2022</ion-title>
  </ion-toolbar>
</ion-footer>
