<ion-header>
  <ion-toolbar color="new">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/outfits"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar outfit</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="deleteOutfit()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-img [src]="outfit.imageURL"></ion-img>
      <ion-card-title>{{outfit.percentage}}% de ponertelo</ion-card-title>

      <ion-input placeholder="Nuevo título" type="text" #title></ion-input>
      <ion-input placeholder="Nueva Descripción" type="text" #desc></ion-input>

      <ion-button
        color="success"
        expand="block"
        (click)="saveEditOutfit(title, desc)"
      >
        Guardar
      </ion-button>
      <ion-button color="new" expand="block" (click)="cancelEdit()">
        Cancelar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>FCL 2022</ion-title>
  </ion-toolbar>
</ion-footer>
